@tailwind base;
@tailwind components;
@tailwind utilities;

/** Blockly flyout scrollbar bug */
svg[display='none'] {
	display: none;
}

.blocklyDropdownContentDiv {
	display: flex;
	flex-direction: column;
}

.blocklyDropdownRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}
